* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
body .main {
  background-color: white;
  width: 375px;
  height: 100vh;
  background-image: url(/css/images/topBgroundMobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .mainMobile {
  height: 100%;
  width: 100%;
  align-self: center;
  padding: 3rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
body .mainMobile .prompt {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: red;
}
body .mainMobile .prompt .exclamation {
  font-size: 8rem;
  animation: jiggle 2s alternate 1;
}
@keyframes jiggle {
  0% {
    transform: rotate(0deg);
    animation: ease-in;
  }
  10% {
    transform: rotate(5deg);
    color: #ffd100;
  }
  20% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(-20deg);
  }
  60% {
    transform: rotate(30deg);
  }
  80% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
    color: red;
    animation: ease-out;
  }
}
body .mainMobile .prompt h1 {
  font-size: 3rem;
  color: #ffd100;
}
body .mainMobile .prompt h1 .uhText {
  animation: uhText 2s alternate 1;
}
@keyframes uhText {
  50% {
    font-size: 4rem;
  }
  100% {
    font-size: 3rem;
  }
}
body .mainMobile .prompt h1 .ohText {
  animation: ohText 1s alternate 1;
  animation-delay: 0.5s;
}
@keyframes ohText {
  50% {
    font-size: 4.5rem;
  }
  100% {
    font-size: 3rem;
  }
}
body .mainMobile .prompt .underline {
  align-self: center;
  background-color: #ffd100;
  width: 100px;
  height: 10px;
}
body .mainMobile .prompt h2 {
  font-size: 2rem;
  color: #ffd100;
  text-align: center;
}
body .mainMobile .imageContainer {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
}
body .mainMobile .imageContainer img {
  width: 120px;
  height: 120px;
}
body .mainDesktopContain {
  display: none;
}

@media screen and (min-width: 900px) {
  body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    min-width: 1440px;
    height: 200vh;
    scroll-behavior: smooth;
    background-color: #c4a8ff;
  }
  body .mainDesktopContain {
    display: unset;
  }
  body .main {
    display: none;
  }
  body .mainContent {
    background-image: url(/css/images/topBgroundDesktop.svg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    border: solid white 2px;
    background-color: white;
    padding: 1rem;
    width: 99vw;
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: backgroundMovement 10s alternate 1;
  }
  body .mainContent .MarvelLogoContainer {
    width: 688px;
    height: 409px;
    margin-top: 190px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  body .mainContent .MarvelLogoContainer .leftOfLogo {
    width: 691px;
    height: 407px;
    position: absolute;
    z-index: 1;
    animation: fadeInLeft 6s alternate 1;
  }
  body .mainContent .MarvelLogoContainer .leftOfLogo img {
    width: 100%;
    height: 100%;
  }
  @keyframes fadeInLeft {
    0% {
      opacity: 0.5;
    }
  }
  body .mainContent .MarvelLogoContainer .blackPanther {
    width: 352px;
    height: 334px;
    margin-left: 12rem;
    position: absolute;
    z-index: 2;
    animation: blackPantherEntrance 3s alternate 1;
  }
  body .mainContent .MarvelLogoContainer .blackPanther img {
    width: 100%;
    height: 100%;
  }
  @keyframes blackPantherEntrance {
    0% {
      margin-left: 18rem;
    }
  }
  body .mainContent .MarvelLogoContainer .rightOfLogo {
    width: 333px;
    height: 407px;
    margin-left: 22.2rem;
    position: absolute;
    z-index: 3;
    animation: fadeInRight 6s alternate 1;
  }
  body .mainContent .MarvelLogoContainer .rightOfLogo img {
    width: 100%;
    height: 100%;
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0.8;
    }
  }
  body .mainContent .action {
    margin-top: 15%;
    text-align: center;
    font-size: 0.8rem;
    color: #696969;
  }
  body .mainContent .action h4 {
    margin-top: 1rem;
  }
  body .mainContent .action h4 a {
    color: black;
    text-decoration: none;
    transition: all 1s;
  }
  body .mainContent .action h4 a:hover {
    color: red;
    letter-spacing: 5px;
    transition: all 0.3s;
  }
  body .mainContent .action .playBtn {
    width: 185px;
    height: 185px;
    border: solid #9221ff 1.5px;
    background-color: white;
    border-radius: 50%;
    transition: all 1s;
    position: absolute;
    margin-left: 40vw;
    margin-top: -25vh;
    animation: opacity 7s alternate 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body .mainContent .action .playBtn img {
    width: 28.6px;
    height: 31.1px;
  }
  @keyframes opacity {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
  }
  body .mainContent .action .playBtn:hover {
    height: 186px;
    width: 186px;
    border: solid #ffd100 1.5px;
    background-color: red;
    transition: all 0.5s;
  }
  @keyframes backgroundMovement {
    0% {
      background-size: 180%;
      background-color: black;
    }
    50% {
      opacity: 0.9;
    }
    100% {
      background-size: 110%;
      background-color: white;
    }
  }
  body .gameOneContainer {
    background-color: white;
    width: 99vw;
    height: 99vh;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1.5rem;
    align-items: center;
    background-image: url(/css/images/gameOneBg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  body .gameOneContainer .game {
    width: 1030px;
    height: 513px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem;
  }
  body .gameOneContainer .game .topQuestionContainer {
    background-image: url(/css/images/testClock.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: left;
    width: 748px;
    height: 111px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    margin-bottom: 20px;
  }
  body .gameOneContainer .game .topQuestionContainer .countDown {
    background-color: #9221ff;
    background-image: url(/css/images/clockBg.svg);
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
    color: #ffd100;
    font-weight: 800;
    font-size: 2.3rem;
    padding-left: 9px;
    letter-spacing: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    transition: all 2s;
  }
  body .gameOneContainer .game .topQuestionContainer .questionTab {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    height: 105px;
    background-image: url(/css/images/QuoteIcon.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-y: 50px;
    background-position-x: 290px;
    background-size: 40px;
    border: solid rgba(192, 191, 191, 0.8078431373) 0.3px;
    box-shadow: #7a6a9d 0px 5px 2px;
    border-radius: 5px;
    padding: 0.3rem 0.5rem 0 0.5rem;
    transition: all 0.5s;
    position: relative;
    z-index: 1;
  }
  body .gameOneContainer .game .topQuestionContainer .questionTab .questionHeading {
    color: #c4a8ff;
  }
  body .gameOneContainer .game .topQuestionContainer .questionTab .whoSays {
    margin-top: 1.2rem;
    color: #b6b6b6;
  }
  body .gameOneContainer .game .topQuestionContainer .questionTab .whoSays .quote {
    color: black;
  }
  body .gameOneContainer .game .topQuestionContainer .questionTab:hover {
    background-color: rgba(247, 244, 253, 0.8745098039);
    transition: all 0.5s;
  }
  body .gameOneContainer .game .topQuestionContainer .nextBtn {
    width: 40px;
    height: 90%;
    margin-left: -6.1rem;
    border-radius: 0px 5px 5px 0px;
    border: none;
    box-shadow: rgb(75, 75, 75) 0px 5px 2px;
    background-color: #c4a8ff;
    color: white;
    text-align: center;
    transition: all 1.5s;
    font-size: 0.8rem;
    position: relative;
    z-index: 0;
  }
  body .gameOneContainer .game .topQuestionContainer .nextBtn:hover {
    background-color: #9221ff;
    color: white;
    margin-top: 5px;
    transform: skewY(5deg);
    transition: all 0.3s;
    box-shadow: rgb(52, 52, 52) -0.5px 5px 3px;
  }
  body .gameOneContainer .game .topQuestionContainer .refreshBtn {
    cursor: pointer;
    width: 37px;
    height: 37px;
    border: solid #c4a8ff 2px;
    border-radius: 50%;
    background-color: white;
    background-image: url(/css/images/refreshIcon.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    transition: all 0.8s;
  }
  body .gameOneContainer .game .topQuestionContainer .refreshBtn:hover {
    background-color: #9221ff;
    color: white;
    transition: all 0.3s;
  }
  body .gameOneContainer .game .centerActorsContainer {
    width: 1026px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  body .gameOneContainer .game .centerActorsContainer .actorContainer {
    width: 191px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .gameOneContainer .game .centerActorsContainer .actorContainer .actorOne,
body .gameOneContainer .game .centerActorsContainer .actorContainer .actorTwo,
body .gameOneContainer .game .centerActorsContainer .actorContainer .actorThree,
body .gameOneContainer .game .centerActorsContainer .actorContainer .actorFour,
body .gameOneContainer .game .centerActorsContainer .actorContainer .actorFive,
body .gameOneContainer .game .centerActorsContainer .actorContainer .actorSix {
    background-color: black;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: solid #ffd100 2.5px;
    transition: all 0.5s;
  }
  body .gameOneContainer .game .centerActorsContainer .actorContainer .actorOneNextBtn,
body .gameOneContainer .game .centerActorsContainer .actorContainer .actorTwoNextBtn,
body .gameOneContainer .game .centerActorsContainer .actorContainer .actorThreeNextBtn,
body .gameOneContainer .game .centerActorsContainer .actorContainer .actorFourNextBtn,
body .gameOneContainer .game .centerActorsContainer .actorContainer .actorFiveNextBtn,
body .gameOneContainer .game .centerActorsContainer .actorContainer .actorSixNextBtn {
    background-color: black;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: solid #ffd100 3px;
    transition: all 0.5s;
  }
  body .gameOneContainer .game .centerActorsContainer .actorContainer .actorOne {
    background-image: url(/css/images/chadwick.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 10px;
    background-size: 46px;
  }
  body .gameOneContainer .game .centerActorsContainer .actorContainer .actorTwo {
    background-image: url(/css/images/michael.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 14px;
    background-size: 50px;
  }
  body .gameOneContainer .game .centerActorsContainer .actorContainer .actorThree {
    background-image: url(/css/images/lupita.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 6px;
    background-size: 47px;
  }
  body .gameOneContainer .game .centerActorsContainer .actorContainer .actorFour {
    background-image: url(/css/images/letitia.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 14px;
    background-size: 46px;
  }
  body .gameOneContainer .game .centerActorsContainer .actorContainer .actorFive {
    background-image: url(/css/images/danai.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 14px;
    background-size: 55px;
  }
  body .gameOneContainer .game .centerActorsContainer .actorContainer .actorSix {
    background-image: url(/css/images/daniel.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 8px;
    background-size: 66px;
  }
  body .gameOneContainer .game .centerActorsContainer .actorContainer .actorOne:hover,
body .gameOneContainer .game .centerActorsContainer .actorContainer .actorThree:hover,
body .gameOneContainer .game .centerActorsContainer .actorContainer .actorFive:hover {
    background-color: #9221ff;
    border-radius: 50%;
    background-position-y: unset;
    border: solid #ffd100 8px;
    transform: rotate(-10deg);
    transition: all 0.2s;
    cursor: pointer;
  }
  body .gameOneContainer .game .centerActorsContainer .actorContainer .actorTwo:hover,
body .gameOneContainer .game .centerActorsContainer .actorContainer .actorFour:hover,
body .gameOneContainer .game .centerActorsContainer .actorContainer .actorSix:hover {
    background-color: red;
    border-radius: 50%;
    background-position-y: unset;
    border: solid #ffd100 8px;
    transform: rotate(10deg);
    transition: all 0.2s;
    cursor: pointer;
  }
  body .gameOneContainer .game .centerActorsContainer .actorContainer .actorName {
    font-weight: 300;
    margin: 0.5rem 0rem;
  }
  body .gameOneContainer .game .centerActorsContainer .actorContainer .actorInfo {
    visibility: hidden;
    cursor: pointer;
    width: 148px;
    height: 146px;
    border-left: solid #c4a8ff 0.2rem;
    border-right: solid grey 0.1px;
    border-bottom: solid #c4a8ff 0.2rem;
    border-top: solid grey 0.1px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    padding: 0.5rem 0rem;
    font-weight: 300;
    transition: all 0.1s;
  }
  body .gameOneContainer .game .centerActorsContainer .actorContainer .actorInfo:hover {
    border-right: solid #c4a8ff 0.3px;
    border-left: solid #c4a8ff 0.3rem;
    border-bottom: solid #c4a8ff 0.4rem;
    transition: all 0.3s;
  }
  body .gameOneContainer .game .scoreContainer {
    width: 505px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0.3rem;
  }
  body .gameOneContainer .game .scoreContainer .score {
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: solid #ffd100 0.3rem;
    padding-left: 5px;
  }
  body .gameOneContainer .game .scoreContainer .score h4 {
    font-weight: 300;
    margin-right: 1rem;
  }
  body .gameOneContainer .game .scoreContainer .score .scoreNumber {
    color: #9221ff;
    font-size: 1.5rem;
  }
  body .gameOneContainer .game .scoreContainer .starContainer {
    width: 100%;
    height: 36px;
    background-color: black;
    border-radius: 20px;
    border-top: inset white 3px;
    border-right: inset #ffd100 2px;
    border-left: inset #ffd100 2px;
    box-shadow: rgba(148, 33, 255, 0.6039215686) 0px 15px 15px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
    padding: 0 4rem;
    transition: all 1s;
  }
  body .gameOneContainer .game .scoreContainer .starContainer .starOne,
body .gameOneContainer .game .scoreContainer .starContainer .starTwo,
body .gameOneContainer .game .scoreContainer .starContainer .starThree,
body .gameOneContainer .game .scoreContainer .starContainer .starFour,
body .gameOneContainer .game .scoreContainer .starContainer .starFive,
body .gameOneContainer .game .scoreContainer .starContainer .starSix,
body .gameOneContainer .game .scoreContainer .starContainer .starSeven,
body .gameOneContainer .game .scoreContainer .starContainer .starEight,
body .gameOneContainer .game .scoreContainer .starContainer .starNine,
body .gameOneContainer .game .scoreContainer .starContainer .starTen {
    background-image: url(/css/images/starIconFull.svg);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center;
    width: 45px;
    height: 100%;
    transition: all 3s;
  }
  body .gameOneContainer .game .scoreContainer .starContainer .starTen {
    background-image: url(/css/images/starIconHalf.svg);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center;
    width: 45px;
    height: 100%;
    transition: all 3s;
  }
  body .gameOneContainer .game .scoreContainer .starContainer .starOne:hover,
body .gameOneContainer .game .scoreContainer .starContainer .starTwo:hover,
body .gameOneContainer .game .scoreContainer .starContainer .starThree:hover,
body .gameOneContainer .game .scoreContainer .starContainer .starFour:hover,
body .gameOneContainer .game .scoreContainer .starContainer .starFive:hover,
body .gameOneContainer .game .scoreContainer .starContainer .starSix:hover,
body .gameOneContainer .game .scoreContainer .starContainer .starSeven:hover,
body .gameOneContainer .game .scoreContainer .starContainer .starEight:hover,
body .gameOneContainer .game .scoreContainer .starContainer .starNine:hover,
body .gameOneContainer .game .scoreContainer .starContainer .starTen:hover {
    transform: rotate(360deg);
    transition: all 1s;
  }
}